.device-table {
    background-color: green;
}

/* Style the table */
.device-table table {
    width: 100%;
    border-collapse: collapse;
}

.device-table th {
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.device-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.device-table tr:hover {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}
